.container {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-flow: row;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
}