.trailer {
    margin-top: 50px;
    text-align: center;
    @media screen and (max-width:1000px) {
        width: 405px;
    }
    @media screen and (max-width:450px) {
        width: 270px;
    }
}
